body::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(62, 62, 62, 0.3);
    background-color: #000;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(47, 47, 47, 0.3);
    border-radius: 20px;
    background-color: #272727;
}

html {
    scroll-behavior: smooth;
}

.clockTower>div:nth-child(1) {
    animation: float 7s infinite;
}

.clockTower>div:nth-child(2) {
    animation: float 3s infinite;
}

.clockTower>div:nth-child(3) {
    animation: float 5s infinite;
}

.clockTower>div:nth-child(4) {
    animation: float 4s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navbar {
    border-color: #746969;
}

.video {
    height: 29.5rem;
    border-radius: 50px;
}