.polls{
    background: linear-gradient(144.31deg, #050505 9%, #081018 32.99%, #110B1B 50.05%, #060508 82.44%, #020202 92.26%);
    /* border-radius: 20px; */
}
.pollscardsprops{
    background-color: rgba(21, 21, 21, 0.3);
    box-shadow: 10px 10px 10px white;
    font-family: "gilmer";
}
.polls{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 10%;
}
.pollscardsprops{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media screen and (max-width: 480px){
    .polls{
        display: grid;
        grid-template-columns: 1fr;
    }
}