.polls {
    /* background: linear-gradient(144.31deg, #050505 9%, #081018 32.99%, #110B1B 50.05%, #060508 82.44%, #020202 92.26%); */
    /* border-radius: 20px; */
}

.pollscardsprops {
    /* background-color: rgba(21, 21, 21, 0.3); */
    box-shadow: 4px 4px 4px rgb(255, 255, 255, 0.5);
    border-radius: 24px;
    font-family: "gilmer";
    border: solid 1px rgb(255, 255, 255, 0.1);
    position: relative;
}

/* .polls{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 10%;
} */
/* .pollscardsprops{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
} */
.pollscardsprops {
    padding: 10%;
}

.pollsqns {
    font-family: 'Gilmer';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.pollsnumber {
    width: 60px;
    height: 58px;
    margin-top: -72px;
    font-family: 'Gilmer';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.pollscards {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
    /* display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    margin-top: 4rem;
    margin-inline: auto;
    width: 100%; */
   
}
/* .my-masonry-grid_column_polls{
    padding-left: 2rem;
    background-clip: padding-box;
  } */

.dropdownpolls {
    margin: auto; 
    padding: 10%;
     padding-right: 0;
    padding-left: 0;

} 


@media screen and (max-width: 480px) {
    .pollscards {
        display: grid;
        grid-template-columns: 1fr;
    }
    .pollsnumber {
        width: 60px;
        height: 58px;
        margin-top: -56px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }
}

@media screen and (max-width: 720px) {
    .pollscards {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .pollsnumber {
        width: 60px;
        height: 58px;
        margin-top: -64px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }
}
@media screen and (max-width: 730px) {
    .pollscards {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .pollsnumber {
        width: 60px;
        height: 58px;
        margin-top: -70px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }
}
@media screen and (max-width: 768px) {
    .pollscards {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .pollsnumber {
        width: 60px;
        height: 58px;
        margin-top: -70px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }
}