
.topvoted {
    border-radius: 10px;
    border: 1px solid #6C6C6C;
    box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    padding: 8vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    font-weight: 800;

}

.topvbox {
    width: fit-content;
    margin: auto;
}

.topvoted h1 {
    color: #FFF;
    font-family: 'gilmer';
    font-size: calc(30px + 0.390625vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.img-count {
    display: flex;
    align-items: center;
}

.img img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: auto;
    border: solid 1px  white;
    

}
.img {
    padding-bottom: 4%;
}

.img  img{
    
    margin-top: -15vh;
    border-radius: 156.462px;
    padding-right: 0;
    
    
}

.count {
    position: absolute;
    top: 40px;
    right: 40px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
}

.statscard {
    position: relative; 
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    font-family: "gilmer";
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: calc(450px - 0.390625vw);
    text-align: center;
    
}

.statscontent {
    padding: 10%;
    
}

.bitsid {
    color: #B3B3B3;
    text-align: center;
    font-family: Gilmer;
    font-size: calc(30px- 0.390625vw);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.75;
    padding: 1vh;
}

.name {
    color: #FFF;
    text-align: center;
    font-family: 'gilmer';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90.02%;
    padding: 1vh;
}

.pollqn {
    color: #DCEDFB;
    font-family: "Gilmer";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    padding: 1vh;

}
.statscontent{
    padding: 0;
}
.stats{
    padding: 0;
}
.statscard{
    padding: 0;
}

/* .statscard {
    margin: 5%;
} */

@media screen and (max-width: 480px){
    .stats{
        padding-top: 30%;
    }
    /* .statscard {
        margin: auto;
    } */
    .statscontent {
        padding: 5%;
        
    }
    .name{
        font-size: 2.1rem;
    }
    .bitsid{
        font-size: 1rem;
    }
    .img  img{
    
        padding-top: -25%;
        border-radius: 156.462px;
        padding-right: 0; 
    }
    .img img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: solid 1px  white;
    }
    .name{
      padding-left: 0;
      padding-right: 0;
    }
    .bitsid{
        padding-left: 0;
      padding-right: 0;
    }
    .count {
        position: absolute;
        top: 80px;
        right: 80px;
        display: grid;
        grid-gap: 10px;
        align-items: center;
    }
    .pollqn{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px){
    .statscard{
        padding-top: 20%;
    }
}
@media screen and (max-width: 720px){
    .stats{
        padding-top: 20%;
    }
    .statscard {
        margin: auto;
    }
}
@media screen and (max-width: 730px){
    .stats{
        padding-top: 20%;
    }
    .statscard {
        margin: auto;
    }
}
@media screen and (max-width: 1156px){
    .stats{
        padding-top: 20%;
    }
    .statscard {
        margin: auto;
    }
}

