* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: "black";
    color: white;
}

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#Home>button {
    margin-right: 1rem;
    padding: 0.5rem;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}

.form {
    margin: 2rem;
}

.pad {
    padding: 50px 100px 0px 100px;
}